*{ margin: 0; padding: 0; }
ul,li { list-style:none; }
a { text-decoration: none; }
.clearfix:after { content: ''; display: block; clear: both; height: 0; }

.container { width:100%; }
header { height: 74px; background-color: #000; }
header h1 { height: 74px; float:left; line-height: 74px; 
width: 200px; text-align: center; color: #fff; font-weight: normal;}
.category { height: 74px; float: left; margin-top: 19px;}
.category > li { float: left; position: relative; }
.category > li > a { color: #fff; padding:19px; height: 39px; line-height: 39px;}
.category > li:hover { background-color:#96da47; }
.category > li:hover > .sub { display: block; }
.sub { background-color:#282d30; padding: 20px; position: absolute; top: 100%; left: 0; width: 600px; border-top:1px solid #96da47; display: none; }
.submenu { float: left; width: 25%; }
.submenu li {  }
.submenu li a { color: #787878; display: block; height: 28px; line-height: 28px; font-size: 14px; }
.submenu li a:hover { color: #96da47; }
.submenu li.subtitle a:hover { color: #96da47; }
.submenu li.subtitle a{ color: #fff; font-size: 15px; margin-bottom: 10px; font-weight: bold; }